.div1,
.div4,
.div3{
    height: 260px;
    width: 12%;
    border: 2px solid tomato;
    border-radius: 10px;
    text-align: center;
    font-size: 1.3rem;
    font-family: 'Open Sans', sans-serif;
    display: inline-block;
    margin-left: 50px;
}
hr{
    width: 130px;
    position: relative;
    left: 15px;
}
.span{
    position: relative;
    top: 10px;
    color: tomato;
}
.b{
    font-size: 1rem;
    font-family: "adobe-clean", sans-serif;  
    position: relative;
    left: 10px;
    text-decoration: line-through;
}
section{

    font-family: "adobe-clean", sans-serif;  
}
span{
    font-weight: bold;
}
.parent{
    font-size: 2rem;
    font-weight: lighter;
    font-family: 'Open Sans', sans-serif;
    position: relative;
    right: 200px;
    top: 20px;
}


.icon,
.icon2{
    color: red;
}
.icon,
.add{
    position: relative;
    left: 220px;
    bottom: 20px;
}
.add{
    font-size: 1.5rem;
    font-weight: lighter;
    font-family: 'Open Sans', sans-serif;
    position: relative;
    top: -30px;
}
center{
    margin-top: 90px;
}
.div2{
    width: 23%;
    height: 300px;
    position: relative;
    top: 70px;
}
.icon2{
    position: relative;
    left: 120px;
    top: 90px;
}
h1{
    font-size: 3rem;
    position: relative;
    bottom: 63px;
}
.hr1{
    position: relative;
    left: -200px;
}
.hr2{
    position: relative;
    left: 210px;
    bottom: 118px;
}
.icon3{
    color: white;
    background-color: red;
    border-radius: 50px;
}
.back{
    font-family: 'Raleway', sans-serif;
    font-weight: lighter;
    font-size: 2rem;
    position: relative;
    left: 30px;
    bottom: 8px;
}
.page3{
    border: 2px solid tomato;
    display: inline-block;
    height: 150px;
    width: 250px;
    text-align: center;
    border-radius: 10px;
    background-color: white;
}
.section1{
    margin: 10px;
    margin-top: 20px;
    color: tomato;
}
input{
    margin: 10px;
    border: 2px solid tomato;
    
}
button{
    margin: 10px;
    background-color: tomato;
    padding: 4px 15px 4px 15px;
    border-radius: 30px 30px 30px 30px;
    color: white;
    border: 0;
}
.below{
    filter: blur(5px);
    z-index: 0;
}
.above,
.above1{
    z-index: 1;
    position: relative;
    bottom: 280px;
}
.above1{
    bottom: 400px;
}
a{
    text-decoration: none;
}
.hr0{
    position: relative;
    top: 12px;
}
@media (max-width:700px){
    .parent{
        position: relative;
        top: -50px;
        right: 60px;
        font-size: 2.5rem;
    }
    .icon{
        position: relative;
        top: -96px;
        left: 100px;
    }
    .add,
    .hr0,
    hr,
    .b,
    section{
        display: none;
    }
    .section1{
        display: inline;
        position: relative;
        top: 20px;
        font-size: 1.5rem;
    }
    .above{
        position: relative;
        top: -170px;
        left: -15px;
    }
    input{
        margin-top: 40px;
    }
    .page3{
        box-shadow: 5px 5px 10px rgb(129, 125, 125);
    }
    .div1,
    .div3,
    .div4{
          width: 300px;
          height: 70px;
          font-size: 1.8rem;
          position: relative;
          left: -30px;
          box-shadow: 5px 5px 10px rgb(129, 125, 125);
    }
}
